@page
@model RockExplorer.Pages.FAQModel
@{
    <html>

    <head>
        <title>FAQ - Frequently asked questions </title>
    </head>

    <body>
        <p>Heres some <b>frequently asked questions</b> about the use of the RockExplorer app.</p>

        <li> <b>Q; </b> How do I use this app? <b>A;</b> You just simply open up the RockExplorer webapplication, and choose which artifact you want to learn more about. </li>
        <li> <b>Q;</b> I can't play an audio. What do I do? <b>A;</b> If restarting your device isn't helping, contact IT Help. Phone number is on the bottom of the page.</li>
        <li> <b>Q; </b> Can I switch to another language for the audios? <b>A;</b>  Unfortunately, we do not have that option yet. </li>
        <li> <b>Q;</b> Can I search for a specific artifact? <b>A;</b> Yes. Locate the search bar at the top of the page. Search for the artifact name, and it will pop up. </li>


    </body>



    </html>
}
