@page
@model RockExplorer.Pages.FAQModel
@{
    @*Dette er en HTML-template til brug at fremvise en FAQ side -MK*@

    <html>

    <head>
        <title>FAQ - Frequently Asked Questions</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f2f2f2;
                margin: 0;
                padding: 20px;
                text-align: center;
            }

            h1 {
                color: #333;
                font-size: 28px;
                margin-bottom: 20px;
            }

            p {
                color: #666;
                font-size: 18px;
                line-height: 1.5;
                margin-bottom: 40px;
            }

            b {
                color: #333;
                font-weight: bold;
            }

            li {
                text-align: left;
                list-style: none;
                margin-bottom: 20px;
            }

                li b {
                    display: block;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
        </style>
    </head>

    <body>
        <h1>FAQ - Frequently Asked Questions</h1>
        <p>Here are some <b>frequently asked questions</b> about the use of the RockExplorer app:</p>
        <ul>
            <li>
                <b>Q:</b> How do I use this app?
                <br>
                <b>A:</b> You simply open up the RockExplorer web application and choose which artifact you want to learn more about.
            </li>
            <li>
                <b>Q:</b> I can't play an audio. What do I do?
                <br>
                <b>A:</b> If restarting your device isn't helping, please contact IT Help. The phone number is provided at the bottom of the page.
            </li>
            <li>
                <b>Q:</b> Can I switch to another language for the audios?
                <br>
                <b>A:</b> Unfortunately, we do not have that option available at the moment.
            </li>
            <li>
                <b>Q:</b> Can I search for a specific artifact?
                <br>
                <b>A:</b> Yes, you can. Locate the search bar at the top of the page, enter the artifact name, and it will pop up in the results.
            </li>
        </ul>
    </body>

    </html>
}
