@page
@model RockExplorer.Pages.ITSupportModel
@{
    <html>

    <head>
        <title> IT Help  </title>
    </head>

    <body>
        <p> Call us if you need help using our webapplication! Please check the FAQ before calling. <b>Our phone is: +45 12 12 12 12</b> </p>

    </body>



    </html>
}
